@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patua+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

main {
    max-width: 100%; 
    margin: 0 auto;     
}

/*Main container1*/
.nosotros-container1 {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 625px;
    overflow: hidden; /* Evitar que se estire más allá de este límite */
    margin: 0 auto;    /* Centrado horizontal */
    justify-content:space-around;
    align-items:center;
    padding: 0% 5% ;
   
}


.quienes-somos {

    /* Esto asegura que el contenido dentro de este div esté encima del pseudo-elemento */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    padding:0; 
    margin-left: 7%;
    position: relative;
}


strong{
    color:var(--color-principal); /* Cambia este color a tu preferencia */
    font-size: 1.5rem; 
    font-family: var(--fuente-monstserrat);
    text-align: center;
    display: block; 
}

.quienes-somos p{
    font-size: 1rem; 
    font-family: var(--fuente-monstserrat);
    line-height: 1.8; 
    margin-top: 3rem; /* Añade un pequeño espacio arriba del párrafo */
    color: var(--color-negro);
    text-align: justify;
}

.ingenieros {
    width: 55%;
    height: auto;
    margin-right: 3%;
}

/*Main container2*/

.nosotros-container2{
    background-color: rgba(198, 199, 203, 0.5);
    width: auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding-top: 5%;  
    padding-left: 10%;  
    padding-right: 10%; 
    padding-bottom: 2%; 
    gap: 10%;
}
h3{
    color:var(--color-principal); /* Cambia este color a tu preferencia */
    margin-bottom: 10%; 
    font-size: 1.6rem; 
    font-family: var(--fuente-monstserrat);
}

.mision {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mision p{
    text-align: justify;
    margin-top: 5%;
    line-height: 1.6;
    font-family: var(--fuente-monstserrat);
}

.linea {
    height: 100%;  /* Altura total para que ocupe todo el espacio disponible */
    width: 5px;    /* Ancho de la línea */
    background-color: #9B9296 ; /* Color blanco */
    
}

/*container3*/
.nosotros-container3{
    width: auto;
    height: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 2% 10%;
    gap: 10%;
}