
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patua+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');



:root{
    --fuente-monstserrat: "Montserrat", sans-serif;
    --fuente-philosopher: "Philosopher", sans-serif;
}

*:not(.footer *) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5% 10%;
    background-color: #FFFFFF;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 3.75rem;  /* Usamos rem para el tamaño del logo */
    height: 3.125rem; /* Usamos rem para el tamaño del logo */
}

.logo h1 {
    font-size: 1.3rem;  /* Usamos rem para ajustar el tamaño del texto */
    font-family: var(--fuente-monstserrat);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.azul {
    color: #04AAB6;
}

.gris {
    color: #A2A2A2;
}

/* Estilos para el menú */
.nav .menu {
    list-style: none;
    display: flex;
    gap: 2rem;  /* Usamos rem para espaciar los elementos */
    margin: 0;
    padding: 0;
}

.menu li a:not(.contacto) {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.0625rem;  /* Usamos rem para ajustar el tamaño del texto */
    font-family: var(--fuente-monstserrat);
    transition: color 0.5s ease, border-bottom 0.3s ease; 
    position: relative;
    padding-bottom: 0.25rem;  /* Usamos rem para el padding */
}

.menu li a:not(.contacto)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.125rem;  /* Usamos rem para el grosor */
    background-color: #A2A2A2;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.menu li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu .contacto {
    text-decoration: none;
    background-color: #04AAB6;
    color: #FFFFFF;
    padding: 0.625rem 1.25rem;  /* Usamos rem para el padding */
    border-radius: 20px;
    transition: all 0.3s ease;
    font-family: var(--fuente-monstserrat);
}

.menu .contacto:hover {
    background-color: #000000;
    transform: scale(1.1);
    font-family: var(--fuente-monstserrat);
}

/* Estilos para el ícono de hamburguesa y menú en pantallas pequeñas */
.menu-toggle {
    display: none;  /* Por defecto no se muestra en pantallas grandes */
    cursor: pointer;
}

.menu-toggle i {
    font-size: 2rem;  /* Tamaño del ícono */
    color: #000;
}



/* Footer*/

.footer {
    background-color: #000000;
    padding: 2% 15% ;
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;

}
.footer_logo img{
    width: 4.375rem;
    height: 3.75rem;

}

.footer_logo p{
    font-size: 1.125rem;
    font-family: var(--fuente-monstserrat);
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer_contacto .contacto_principal{
    font-size: 1.125rem ;
    font-family: var(--fuente-monstserrat);
    color: #fcf8f8;
}

.footer_contacto p{
    font-size: 0.875rem;
    font-family: var(--fuente-monstserrat); 
    color: #C6C7CB;
}


.footer_redes p{
  
    font-size: 1.06rem ;
    font-family: var(--fuente-monstserrat);
    color: #fcf8f8;
}


.redes_img {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.redes_img img{
    width: 1.875rem;
    height: 1.75rem;

}

.footer_line {
    background-color: #ffffff; 
    margin: 0.05rem ;  
}

.footer_copyright {

    width: 100%;
    display: flex;
    padding: 2rem;
    justify-content: center;
    background-color: #000000;
  
}

.footer_copyright p{
  
    font-size: 0.8rem ;
    font-family: var(--fuente-monstserrat);
    color: #fcfcfc;
    text-align: center;
}
































/* Estilos generales */
@media (max-width: 1280px) {

    /* Logo en pantallas pequeñas */
    .header {
        gap: 2rem; /* Espaciado entre logo y navegación */
    }

    .logo {
        gap: 0.5rem;
        margin-left: -2rem; /* Puedes ajustar este valor si necesitas mover más a la izquierda */
        margin-top: 0.5rem;
    }

    .logo img {
        width: 3.4rem; /* Logo más pequeño en pantallas pequeñas */
        height: 3rem;
    }

    .logo h1 {
        padding-top: 0.7rem;
        font-size: 1rem;  /* Texto más pequeño en pantallas pequeñas */
    }

    /* Ajustes a la navegación */
    .nav {
        padding-top: 2rem;
        margin-right: 0; /* Elimina el margen negativo que podría generar un desplazamiento */
    }

    .nav .menu {
        gap: 1rem;
    }

    .menu li a:not(.contacto) {
        font-size: 1rem;  /* Texto más pequeño */
        padding: 0.1rem;  /* Espaciado mayor para hacer clic fácil */
    }

    /*Footer*/
    .footer {
        padding: 2% 10%;
    }

    .footer_logo {
        gap: 1rem;
    }

    .footer_logo img {
        width: 3.75rem;
        height: 3.25rem;
    }

    .footer_logo p {
        font-size: 1rem;
    }

    .footer_contacto .contacto_principal {
        font-size: 1rem;
    }

    .footer_contacto p {
        font-size: 0.9rem;
    }

    .footer_redes p {
        font-size: 1rem;
    }

    .redes_img img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .footer_copyright p {
        font-size: 0.75rem;
    }









}






















/* Estilos en pantallas muy pequeñas */
@media (max-width: 810px) {
    /* Logo */
    .logo {
        padding: 1rem;
        gap: 0.5rem;
        /* margin-left: 0.005rem; */
    }

    .logo img {
        width: 3.2rem; /* Logo más pequeño en pantallas pequeñas */
        height: 2.8rem;
    }

    .logo h1 {
        padding-top: 0.7rem;
        font-size: 0.9rem;  /* Texto más pequeño en pantallas pequeñas */
    }

    /* Estilos para la barra de menú */
    .nav {
        padding-top: 1rem;
       
    }
    .nav .menu {
        display: none;
        position: fixed;
        flex-direction: column;
        gap: 0.8rem;
        width: 100%;
        height: 20%;
        top: 110px;
        right: -71%;  /* Ajusta el valor para asegurarte que el menú no quede fuera de la pantalla */
        transition: all;
        padding-left: 0.1rem;
    }

    .nav .menu li a {
        font-size: 0.8rem;  /* Texto más pequeño */
        padding: 0.1rem;  /* Espaciado mayor para hacer clic fácil */
        background-color: transparent;
        width: 100%;
        text-align: right;
        color: #000000;
    }

    /* Estilo de "CONTACTO" */
    .menu .contacto {
        background-color: transparent;
        color: #000000;
        padding: 0;
        border-radius: 0;
        font-weight: bold;
        font-size: 1.0625rem;
        transition: color 0.5s ease, border-bottom 0.3s ease;
        position: relative;
        padding-bottom: 0.25rem;
    }

    .menu .contacto::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.125rem;
        background-color: #A2A2A2;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease;
    }

    .menu .contacto:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .menu .contacto:hover {
        background-color: transparent;
        transform: none;
    }

    /* Estilos para el ícono de menú hamburguesa */
    .nav .menu-toggle {
        display: block;
        padding-top: 0.6rem;
        padding-right: 2.5rem;
    }

    .menu-toggle i {
        font-size: 2rem;
    }

    .menu.show {
        display: flex;
    }


    .footer {
        padding: 2% 5%;
        flex-direction: column;
        align-items:center; /* Centra los elementos en pantallas pequeñas */
        justify-items: flex-start;
    }

    .footer_logo {
        gap: 1rem;
        justify-content: center;
        padding-top: 1rem;
    }

    .footer_logo img {
        width: 3rem;
        height: 2.5rem;
    }

    .footer_logo p {
        font-size: 0.9rem;
        text-align: center;
    }

    .footer_contacto .contacto_principal {
        font-size: 1rem;
    }

    .footer_contacto p {
        font-size: 0.85rem;
    }

    .footer_redes p {
        font-size: 1rem;
    }

    .redes_img {
        justify-content: center;
    }

    .redes_img img {
        width: 1.25rem;
        height: 1.25rem;
    }

    .footer_copyright p {
        font-size: 0.75rem;
    }

    .footer_line {
        width: 80%;
    }




}

/* Mostrar el menú desplegable cuando se hace clic en el ícono */
.show {
    display: flex !important;
}