
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patua+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');



:root{
    --fuente-monstserrat: "Montserrat", sans-serif;
    --fuente-philosopher: "Philosopher", sans-serif;
    --color-principal: #04AAB6;
    --color-secundario: #A2A2A2;
    --color-blanco:#FFFFFF;
    --color-negro:#000000;
 
}

*:not(.footer *) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 10%;
    background-color: #FFFFFF;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.logo img {
    width: 3.7rem;  
    height: 3.2rem;
}

.logo h1 {
    font-size: 1.3rem; 
    font-family: var(--fuente-monstserrat);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.azul {
    color: var(--color-principal);
}

.gris {
    color: var(--color-secundario);
}

/* Estilos para el menú */
.nav .menu {
    list-style: none;
    display: flex;
    gap: 2rem;  
    margin: 0;
    padding: 0;
}

.menu li a:not(.contacto) {
    text-decoration: none;
    color: var(--color-negro);
    font-weight:500;
    font-size: 1.06rem;  
    font-family: var(--fuente-monstserrat);
    transition: color 0.5s ease, border-bottom 0.3s ease; 
    position: relative;
    padding-bottom: 0.25rem;  
}

.menu li a:not(.contacto)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.125rem;  
    background-color: #A7A4A3;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.menu li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu .contacto {
    text-decoration: none;
    font-weight:500;
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 0.625rem 1.25rem; 
    border-radius: 20px;
    transition: all 0.3s ease;
    font-family: var(--fuente-monstserrat);
}

.menu .contacto:hover {
    background-color: var(--color-negro);
    transform: scale(1.1);
    font-family: var(--fuente-monstserrat);
}

/* Estilos para el ícono de hamburguesa y menú en pantallas pequeñas */
.menu-toggle {
    display: none;  
    cursor: pointer;
}

.menu-toggle i {
    font-size: 2rem; 
    color: var(--color-negro);
}


/*Main*/

.HOLA{
    background-color: #04AAB6;
}
/* Footer*/

.footer {
    background-color:var(--color-negro);
    padding: 2% 15% ;
    color:var(--color-blanco);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;   


}


.footer_logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 0.4rem;
    flex-wrap: wrap;

}
.footer_logo img{
    width: 3.7rem;
    height: 3.2rem;

}

.footer_logo p{
    font-size: 1.1rem;
    font-family: var(--fuente-monstserrat);
    font-weight: 600;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    
}

.footer_contacto{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    
}

.contacto_principal{
    font-size: 1.1rem ;
    font-family: var(--fuente-monstserrat);
    color:var(--color-blanco);
    margin-bottom: 0.3rem;
   
}

.footer_contacto p:not(.contacto_principal){

    font-size: 0.9rem;
    font-family: var(--fuente-monstserrat); 
    color:var(--color-secundario);
    margin-bottom: 0.3rem;
    
    
}



.footer_redes p{
    font-size: 1.1rem ;
    font-family: var(--fuente-monstserrat);
    color: var(--color-blanco);
}


.redes_img {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;

}

.redes_img img{
    width: 1.8rem;
    height: 1.7rem;

}

.footer_line {
    background-color: var(--color-blanco); 
    margin: 0.05rem ;  
}

.footer_copyright {

    width: 100%;
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    background-color: var(--color-negro);
  
}

.footer_copyright p{
  
    font-size: 0.9rem ;
    font-family: var(--fuente-monstserrat);
    color: var(--color-blanco);
    text-align: center;
}







@media (max-width: 900px) {
    /* Logo */


    .logo h1 {
            font-size: 1.1rem;  /* Texto más pequeño en pantallas pequeñas */
    }
    
    /* Estilos para la barra de menú */

 
    .nav {
        background-color: transparent;
        padding-right: 10%;
        z-index: 10;
      
    }
    .nav .menu {
        background-color: var(--color-blanco);  /* Fondo blanco elegante */
        display: none;  /* Inicialmente oculto */
        position: absolute;
        margin-top: 2.5%;
        top: auto;  /* Inicia desde la parte superior de la pantalla */
        left: 0;
        right: 0;
        padding: 5% 5%;  /* Un poco de espacio alrededor */
        flex-direction: column;
        align-items: center;
        gap: 2rem;  /* Espaciado entre los elementos */
        width: 100%;
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);  /* Sombra ligera */
        z-index: 1000;
        max-height: 0;  /* Iniciar con el menú colapsado */
        overflow: hidden;  /* Esconde el contenido que sobrepase el tamaño */
        transition: max-height 0.5s ease-in-out;  /* Transición suave de la altura */

    }


    /* Estilos para el ícono de menú hamburguesa */
    .nav .menu-toggle {
        display: block;
        cursor: pointer;
        z-index: 1001;  /* Asegura que el ícono esté por encima del menú */
    }

    .menu-toggle i {
        font-size: 2rem;
    }

    .menu.show {
       
    display: flex;
    max-height: 500px;  /* Ajusta este valor para permitir que el menú se expanda completamente */
    opacity: 1;  /* El menú es visible */
    } 


    /*Footer*/
    .footer {
        padding: 5% 15%;
        width: auto;
   
    }
 
   
}

/* Mostrar el menú desplegable cuando se hace clic en el ícono */
.show {
    display: flex !important;
}