
main {
    max-width: 100%; 
    margin: 0 auto;     
}

/*Main container1*/
.servicios-container1 {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 325px;
    overflow: hidden; /* Evitar que se estire más allá de este límite */
    margin: 0 auto;    /* Centrado horizontal */
    justify-content:space-around;
    align-items:center;
    padding: 0% 5% ;
    background-image: url('../img/portadaservicios.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Necesario para colocar el pseudo-elemento ::after */
}



/* Pseudo-elemento para agregar la capa oscura con transparencia */
.servicios-container1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); 
    z-index: 1; 
}
.servicio-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
    padding:5%; 
    position: relative;
    font-weight: 500;
    border-radius: 20px;
    
}


strong{
    color:var(--color-blanco); /* Cambia este color a tu preferencia */
    font-size: 1.7rem; 
    font-family: var(--fuente-monstserrat);
    text-align: center;
    display: block; 
    position: relative;
    z-index: 2; 
    animation: fadeInUpText 1.5s ease forwards; 
}

/*container2*/
.servicios-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que los elementos empiecen desde la parte superior */
    align-items: center;
    padding: 8% 10%;
    width: 100%;
    gap: 90px; /* Ajuste para el espacio entre los elementos */
    height: auto; /* La altura se ajustará automáticamente al contenido */
}

.s-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.imgservicios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:320px;
}



.imgservicios img {
    width:70%;
    height: 320px;
    border-radius: 8px;
}

.text-servicio1 {
    display: flex;
    flex-direction: column; /* Los elementos estarán uno debajo del otro */
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px; /* Ajustar el espacio entre los elementos */
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animación de texto (derecha) */
@keyframes fadeInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.visible-left-imgservicios {
    animation: fadeInLeft 1s ease-out forwards;
}

.visible-right-textservicio1 {
    animation: fadeInRight 1s ease-out forwards;
}

.t-titulo{
    text-align: center;
}
.titulo-servicio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.icono-valores {
    width: 8%;
    border-radius: 100%;
}

.t-servicio {
    color: var(--color-principal); /* Cambia este color a tu preferencia */
    font-size: 1.6rem;
    font-family: var(--fuente-monstserrat);
    text-align: center;
}

.parrafo-servicios {
    display: flex;
    flex-direction: column; /* Los párrafos estarán uno debajo del otro */
    justify-content: flex-start; /* Empieza desde la parte superior */
    align-items: center;
    width: 100%;
    gap: 40px; /* Ajuste para el espacio entre los párrafos */
}

.parrafo-servicios p {
    font-size: 1rem;
    font-family: var(--fuente-monstserrat);
    line-height: 1.6;
    text-align: justify;
}

.solicitar-cotizacion{
    text-decoration: none;
    font-weight:500;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    padding: 0.625rem 1.25rem; 
    border-radius: 18px;
    transition: all 0.3s ease;
    font-family: var(--fuente-monstserrat);
}

.solicitar-cotizacion:hover {
    background-color: #9B9296;
    transform: scale(1.1);
}

@media screen and (max-width: 1080px) {

    /*Container1*/
    .servicios-container1 { 
        padding: 0% 0%;
        justify-content: center; /* Centrar el contenido */
    }

    .servicio-slogan{
        width: 80%;
        padding: 0%;
    }

    .s-container2{
        gap: 50px; 
    }

}

@media screen and (max-width: 775px) {
    /*Container2*/

    .servicios-container2{
        padding: 8% 13%;

    }
    .s-container2{
        display: flex;
        flex-direction:column-reverse;
        gap: 30px; 

    }

   .imgservicios {

        width: 90%;
        height: 80%;
      
    } 

    .imgservicios img {
        width:100%;


    }
} 