@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patua+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');



:root{
    --fuente-monstserrat: "Montserrat", sans-serif;
    --fuente-philosopher: "Philosopher", sans-serif;

}

*:not(.footer *) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* Header*/

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 8%;
    background-color: #efefef;

}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img{
    width: 12%;
    height: 0.4%;

}
.logo h1{
    font-size: 1.4rem;
    font-family: var(--fuente-monstserrat);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.azul  {
    color: #04AAB6;
    
}
.gris   {
    color: #A2A2A2;
}

.nav .menu  {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.menu li a:not(.contacto){
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: var(--fuente-monstserrat);
    transition: color 0.5s ease, border-bottom 0.3s ease; 
    position: relative;
    padding-bottom: 0.25rem;
}


.menu li a:not(.contacto)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #A2A2A2;
    transform: scalex(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}


.menu li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.menu .contacto {
    text-decoration: none;
    background-color: #04AAB6;
    color: #FFFFFF;
    padding: 0.625rem 1.25rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    font-family: var(--fuente-monstserrat);
    font-size: 1.2rem;
}

.menu .contacto:hover{
    background-color: #000000;
    transform: scale(1.1);
      font-family: var(--fuente-monstserrat);
}


/* Main*/

#whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366; 
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    z-index: 9999; 
}

#whatsapp-icon:hover {
    transform: scale(1.1);
}

/*Section 1 - Container1 */

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    width: 100%;
    height: 70vh;
}

.container1 img{
    width: 100%;
    height: 140%;

}

.text-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color:  rgba(51, 51, 51, 0.56);
    padding: 20px;
    border-radius: 10px;
    font-family: var(--fuente-philosopher);
    font-size: 2.5rem;
    font-style: italic; 
}

.highlight-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(51, 51, 51, 0.6);
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 80px;
    font-family: var(--fuente-philosopher);
    font-size: 1.8rem; 
    transition: background-color 0.3s, color 0.3s; 
}

.highlight-text a {
    color: white;
    text-decoration: none;
}

.highlight-text:hover {
    background-color:  #000000;
   
}

 /*Seccion 2 - Container2*/

.container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60vh;
    padding: 0 2%;
    position: relative;

}

.imgedificio01 {
    width: 30%;
    height: 130%;
    object-fit: cover;
    margin-left: 8%;
    margin-top: 40%;
    border-radius: 10px;
    z-index:1;
}

.container-verde {
    position: absolute;
    top: 60%;
    width: 95%;
    height: 23%;
    background-color: #04AAB6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
   
}


h2{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-family: var(--fuente-philosopher);
}

.text-container {
    width: 45%;
    margin-right: 8.5%;
    margin-top: 50%;
}

.text-container p{
    font-family: var(--fuente-philosopher);
    font-size: 1.65rem;
    line-height: 1.9;
    text-align: justify;
}



/*Section3*/

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    margin-top: 28%;  
    margin-bottom: -4%;
    padding: 3.12rem 1.25rem;
    width: 100%;
    height: 85vh;
    position: relative;
}

.imgcontacto {
    width: 100%;  
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    top: 1.3%;

}

.img-edificio02 {
    width: 23%;
    height: 70vh;
    z-index:1;
    left: calc(20px + 7.7%);
    position: relative;
    bottom: 0;
    
}

.img-edificio03 {
    width: 20%;
    height: 60vh;
    z-index:1;
    left: calc(20px + 46.6%);
    position: relative;
    bottom: 0;
}

.contenedor {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
    width: 84%;  
    height: 80%;
    background-image: radial-gradient(circle, #C6C7CB, #A1A2A9);

    text-align: center;
    border-radius: 10px;  
    box-sizing: border-box; 
    gap: 2rem;
}

h3 {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: var(--fuente-philosopher);
   
}

p {
    font-size: 2rem;
    color: #3d3a3a;
    font-family: var(--fuente-philosopher);
    font-weight: bold;

}

.enviar-mensaje {
    display: inline-block;
    background-color: #fff;
    color: #000;
    font-family: var(--fuente-philosopher);
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid #baafaf;
    z-index: 10;
}

.enviar-mensaje:hover {
    background-color: #000000;
    color: #FFFFFF;
}


/* Footer*/

.footer {
    background-color: #000000;
    padding: 2% 15% ;
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;

}
.footer_logo img{
    width: 4.375rem;
    height: 3.75rem;

}

.footer_logo p{
    font-size: 1.125rem;
    font-family: var(--fuente-monstserrat);
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer_contacto .contacto_principal{
    font-size: 1.125rem ;
    font-family: var(--fuente-monstserrat);
    color: #fcf8f8;
}

.footer_contacto p{
    font-size: 0.875rem;
    font-family: var(--fuente-monstserrat); 
    color: #C6C7CB;
}


.footer_redes p{
  
    font-size: 1.06rem ;
    font-family: var(--fuente-monstserrat);
    color: #fcf8f8;
}


.redes_img {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.redes_img img{
    width: 1.875rem;
    height: 1.75rem;

}

.footer_line {
    background-color: #ffffff; 
    margin: 0.05rem ;  
}

.footer_copyright {

    width: 100%;
    display: flex;
    padding: 2rem;
    justify-content: center;
    background-color: #000000;
  
}

.footer_copyright p{
  
    font-size: 0.8rem ;
    font-family: var(--fuente-monstserrat);
    color: #fcfcfc;
    text-align: center;
}
